*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    min-height: 100vh;
    background-image: url(images/nature1.jpg)  ;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}
.contain{
    width: 400px;
    height: 300px;
    padding: 3px 6px;
    margin:300px auto;
    border-radius: 16px;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0px 3px 20px 3px, rgba(0,0,0,.5);
    text-align: center;
    border: none;
}
 h1{
    align-items: center;
    padding-top: 15px;
    font-size: 1,2rem;
    margin-bottom: 10px;
}
form input{
    width: 60%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: #e4e4e4;
    backdrop-filter: blur(4px);
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.74);
}
button{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 20px; 
    border: 1px solid #670D10;
    border-radius: 6px;
    padding: 10px 20px;
    background-color:#670D10;
    color: white;
    transition-duration: 1s;
}
button:hover{
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,.5);
    transform: scale(1.1);
}
.forget{ 
    font-size: 0,8rem;
    text-align: center;

}
.forget a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.terms{
    font-size: 0,8rem;
    color: #252525;
}
.terms a{
    text-decoration: none;
    color: rgba(255,255,255);
}

